<footer class="footer">
    <div class="footer-container">
      
      <div class="footer-section">
        <h4>НАВИГАЦИЯ</h4>
        <ul>
          <li><a href="#">Сайт туралы</a></li>
          <li><a href="#">Серіктестер</a></li>
          <li><a href="#">F. A. Q.</a></li>
          <li><a href="#">Жеткізу</a></li>
          <li><a href="#">Байланыс</a></li>
          <li><a href="#">Кітап басып шығару қызметі</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>ШАРТТАР</h4>
        <ul>
          <li><a href="#">Тауарды қайтару</a></li>
          <li><a href="#">Қоғамдық оферта</a></li>
          <li><a href="#">Құпиялық шарты</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>БАЙЛАНЫС ПЕН ДҮКЕН МЕКЕНЖАЙЛАРЫ</h4>
        <p><strong>8-776-666-12-12</strong></p>
        <p>Күнделікті 09:00-ден 21:00-ге дейін</p>
        <a href="#" class="footer-link">Барлық байланысты қарау →</a>
      </div>
  
      <div class="footer-section">
        <h4>ҚОСЫЛЫҢЫЗ</h4>
        <div class="social-icons">
          <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-128.png" alt="Instagram" /></a>
          <a href="#"><img src="https://cdn1.iconfinder.com/data/icons/social-media-outline-6/128/SocialMedia_Facebook-Outline-512.png" alt="Facebook" /></a>
          <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/phosphor-regular-vol-4/256/telegram-logo-512.png" alt="Telegram" /></a>
        </div>
      </div>
  
      <div class="footer-section">
        <h4>МОБИЛЬДІ ҚОСЫМШАНЫ</h4>
        <div class="app-icons">
          <img src="https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_app_store-512.png" alt="App Store" />
          <img src="https://cdn2.iconfinder.com/data/icons/oneui/24/google_playstore-512.png" alt="Google Play" />
        </div>
      </div>
  
    </div>
  </footer>